* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #F6F1F1;
  font-family: rajdhani, Arial, Helvetica, sans-serif;
}

@keyframes mover-news {
  0% {
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
  25% {
    color: #19A7CE;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
  50% {
    color: #f7f5ed;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
  75% {
    color: #19A7CE;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
  100% {
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header__banner--index {
  background-image: url("../img/indexhtml.jpg"); /*BANNER INDEX*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__banner--noticias {
  background-image: url("../img/20230502024451_[fpdl.in]_camara-seguridad-video-urbano_109643-54.jpg"); /*BANNER NOTICIAS*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__banner--producto {
  background-image: url("../img/matrix-2326147_960_720.jpg"); /*BANNER PRODUCTO*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__banner--nosotros {
  background-image: url("../img/cybersecurity-6250709_960_720.jpg"); /*BANNER NOSOTROS*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__banner--contacto {
  background-image: url("../img/Diplomado-en-Seguridad-Electronica..jpg"); /*BANNER CONTACTO*/
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.header__contenedor {
  color: #F6F1F1;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: 100%;
}
.header__logo {
  display: flex;
  justify-content: center;
}

.header__contenedor--index {
  color: rgba(250, 235, 215, 0);
} /*H1 OCULTO*/
.logo__img {
  display: flex;
  height: 100px;
}

.menu {
  display: flex;
  background-color: #146C94;
  justify-content: center;
}
.menu ul li {
  font-size: 0.7rem;
  color: rgb(63, 62, 62);
  text-transform: uppercase;
  height: 30px;
  display: inline-flex;
  align-items: center;
}
.menu ul li a {
  display: flex;
  color: #ffffff;
  text-decoration: solid;
  justify-content: center;
  margin-left: 5px;
}
.menu ul li a:hover {
  background-color: rgba(31, 78, 122, 0.589);
}

.form_buscar {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5px;
} /*buscar*/
.label {
  display: none;
} /*buscar oculto*/
.buscar_producto {
  width: 70%;
  height: 30px;
  border: #146C94 solid 2px;
  border-radius: 5px;
} /*nombre en el interior del input*/
.boton_buscar {
  background-color: rgb(63, 62, 62);
  color: #F6F1F1;
  width: 30%;
  height: 30px;
  line-height: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #19A7CE;
  cursor: pointer;
} /*estilo del boton*/
@media (min-width: 768px) {
  .menu {
    justify-content: center;
  }
  .menu ul li {
    margin: 0 30px;
    font-size: 1rem;
  }
  .header__contenedor {
    display: flex;
    justify-content: start;
    color: #F6F1F1;
    font-size: 2rem;
    width: 100%;
  }
  .header__logo {
    display: flex;
    height: 100px;
    justify-content: center;
  }
  .logo__img {
    display: flex;
    height: 200px;
  }
}
.sec_mis {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  justify-items: center;
  margin: 0 auto;
  gap: 10px;
}
.sec_mis__img {
  display: flex;
  max-width: 60%;
  min-width: 50%;
  margin: 0 auto;
}
.sec_mis__titulo {
  display: flex;
  color: #ffffff;
  background-color: #146C94;
  border: #19A7CE solid 5px;
  border-radius: 50px;
  width: 80px;
  height: 35px;
  font-size: 1.2rem;
  justify-content: center;
  margin: 5px auto;
  box-shadow: 6px 6px 10px #1f1b1b;
}
.sec_mis__texto {
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
}

.sec_mis2 {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  justify-items: center;
  margin: 0 auto;
  gap: 20px;
}
.sec_mis2__titulo {
  display: flex;
  background-color: #146C94;
  color: #ffffff;
  border: #19A7CE solid 5px;
  border-radius: 50px;
  width: 150px;
  height: 39px;
  font-size: 1rem;
  justify-content: center;
  margin: 10px auto;
  box-shadow: 6px 6px 10px #1f1b1b;
}
.sec_mis2__texto {
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
}

.video_index {
  display: flex;
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.sus_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.suscribir {
  display: grid;
  justify-items: center;
  background-color: #27576d; /*newsletter*/
  background-size: cover;
  text-align: center;
  padding: 50px 50px;
  width: 100%;
  height: 100%;
}
.suscribir__h3 {
  color: #ffffff;
  font-size: 3rem;
  animation-name: mover-news;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.suscribir__h4 {
  color: #000000;
  font-size: 1.2rem;
}

.email {
  width: 240px;
  height: 40px;
  justify-content: center;
  border-style: solid;
  border: 1px;
  border-color: #1f1b1b;
  margin: 5px auto;
}

.boton_susc {
  background-color: rgb(63, 62, 62);
  color: #F6F1F1;
  width: 120px;
  line-height: 41px;
  padding: 0 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #19A7CE;
  cursor: pointer; /*VERIFICAR COLOR*/
  margin-top: 10px;
}

.partners {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
}
.partners__titulo {
  background-color: #ffffff;
  text-align: center;
  font-size: 2rem;
  height: 5px;
}

.partners2 {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners2__img {
  width: 40%;
}
.partners2__img:hover {
  transform: scale(90%);
}

@media (min-width: 768px) {
  .sec_mis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sec_mis__img {
    display: flex;
    max-width: 90%;
    padding-top: 60px;
    margin: 0 auto;
  }
  .sec_mis__titulo {
    display: grid;
    grid-column: span 1/3;
    width: 150px;
    height: 45px;
    font-size: 1.8rem;
  }
  .sec_mis__texto {
    display: flex;
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    margin: 20px;
  }
  .img_index {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .sec_mis2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 350px;
    justify-items: start;
  }
  .sec_mis2__titulo {
    display: flex;
    grid-column: span 1/3;
    height: 50px;
    font-size: 1.3rem;
    margin: 0 -270px;
    margin-top: 15px;
  }
  .sec_mis2__texto {
    display: flex;
    text-align: justify;
    font-size: 1rem;
  }
  .video_index {
    display: flex;
    width: 95%;
    height: auto;
  }
  .sus_flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .boton_susc {
    margin-top: 0px;
  }
  .partners2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  .partners2__img {
    width: 20%;
  }
  .form_buscar {
    width: 350px;
    display: flex;
    justify-content: end;
    margin-right: 5px;
    margin-top: 15px;
  }
  .boton_buscar {
    width: 70px;
    margin-right: 25px;
  }
  .video_index {
    display: flex;
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .sec_mis__img {
    padding-top: 10px;
    margin: 0 auto;
  }
  .sec_mis2__texto {
    padding-top: 40px;
  }
  .video_index {
    height: 340px;
  }
}
@media (min-width: 2200px) {
  .sec_mis__texto {
    font-size: 2rem;
  }
  .sec_mis2 {
    margin-bottom: 100px;
    justify-content: center;
  }
  .sec_mis2__texto {
    font-size: 2rem;
  }
  .video_index {
    width: 800px;
    height: 440px;
    margin-left: 200px;
  }
}
.main-contacto {
  background-color: #27576d;
}

.cont_formulario {
  background-color: #27576d;
  display: grid;
}

.contenedor_formularioh1 {
  color: #f7f5ed;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.datos {
  background-color: #27576d;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.form {
  background-color: #27576d;
  width: 100%;
  height: 50px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}
.form input {
  width: 90%;
  height: 90%;
  background: none;
  color: #ffffff;
  padding-top: 20px;
  border: none;
  outline: 0px;
}
.form .lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}
.form .lbl-nombre:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #19A7CE;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.text-nomb {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #ffffff;
}

.form input:focus + .lbl-nombre .text-nomb, .form input:valid + .lbl-nombre .text-nomb {
  transform: translateY(-150%);
  font-size: 1rem;
  color: #19A7CE;
}

.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after {
  transform: translateX(0%);
}

.img_formulario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin-bottom: 10%;
}
.img_formulario figure {
  position: relative;
  width: 90%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.img_formulario img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.img_formulario figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 103, 123, 0.6);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.img_formulario figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.img_formulario figure:hover > .capa h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

.img_formulario figure .capa h3 {
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
}

.img_formulario figure .capa p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  width: 100%;
  max-width: 220px;
  margin: auto;
  text-align: justify;
}

.boton_form {
  display: flex;
}

.cont_formulario {
  background-color: #27576d;
  display: flex;
  justify-content: center;
}

.datos-gral {
  background-color: #27576d;
  display: grid;
  width: 100%;
}

.boton_formulario {
  background-color: rgb(63, 62, 62);
  color: #f7f5ed;
  width: 30%;
  height: 30px;
  line-height: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #19A7CE;
  margin-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
} /*estilo del boton*/
.map-responsive {
  background-color: #27576d;
  overflow: hidden;
  padding-bottom: 40%;
  position: relative;
  height: 0;
  width: 100%;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (min-width: 768px) {
  .datos-gral {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .img_formulario {
    height: 100%;
  }
  .boton_formulario {
    background-color: rgb(63, 62, 62);
    color: #f7f5ed;
    width: 30%;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #19A7CE;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .boton_formulario {
    width: 15%;
  }
}
.nosotros_section {
  display: grid;
  width: 100%;
  height: 100%;
}
.nosotros_section__logoytexto {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
}
.nosotros_section__logo {
  display: flex;
  margin: 0 auto;
  width: 150px;
  height: 100px;
}
.nosotros_section__logo:hover {
  transform: scale(1.3) rotate(360deg);
  transition-duration: 2.5s;
  transition-timing-function: ease;
}
.nosotros_section__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.img_nosotros1 {
  display: flex;
  width: 90%;
  height: 70%;
  margin-left: 50px;
  border-radius: 20px;
  margin: 15px;
}

.div_equipo {
  display: grid;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: #27576d;
  justify-content: space-evenly;
  align-content: center;
  filter: drop-shadow(1px 1px 1px #000000);
}

.gerente {
  display: grid;
  justify-content: center;
  align-items: center;
}
.gerente__img {
  width: 100px;
  border-radius: 75px;
}
.gerente__logoytexto {
  display: flex;
  color: #146C94;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.personal {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.personal__contenedor {
  color: #146C94;
}
.personal__img {
  width: 100px;
  border-radius: 75px;
}

.texto_equipo {
  display: flex;
  font-size: 1rem;
  text-align: justify;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 768px) {
  .nosotros_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .nosotros_section__logoytexto {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
    font-size: 1rem;
    text-align: justify;
  }
  .nosotros_section__logo {
    display: flex;
    margin: 0 auto;
    width: 250px;
    height: 150px;
  }
  .nosotros_section__img {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .div_equipo {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1rem;
    color: #27576d;
  }
  .gerente {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .texto_equipo {
    display: flex;
    font-size: 1rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }
  .personal__img {
    width: 100px;
    border-radius: 75px;
  }
}
/* NOSOTROS HTML-RESPONSIVE 1024PX*/
@media (min-width: 1024px) {
  .gerente {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }
  .gerente__img {
    width: 150px;
    border-radius: 75px;
  }
  .div_equipo {
    font-size: 2rem;
  }
  .texto_equipo {
    grid-column: 2/4;
    font-size: 1.2rem;
  }
  .nosotros_section__logoytexto {
    font-size: 1.2rem;
  }
  .personal__img {
    width: 150px;
    border-radius: 75px;
  }
}
@media (min-width: 2200px) {
  .nosotros_section__logoytexto {
    font-size: 2rem;
    text-align: justify;
    justify-content: center;
  }
  .texto_equipo {
    font-size: 2rem;
  }
}
.tarjeta {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
  flex-wrap: wrap;
  background-color: #ffffff;
  align-items: center;
}
.tarjeta__btn {
  background-color: rgb(63, 62, 62);
  color: #f7f5ed;
  width: 100px;
  height: 30px;
  line-height: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #19A7CE;
  cursor: pointer;
  margin-bottom: 10px;
}
.tarjeta__img {
  width: 90%;
  height: 70%;
}

.lista_productos {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.h2_productos {
  background-color: #ffffff;
  color: #27576d;
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .lista_productos {
    display: flex;
  }
  .tarjeta {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 20px;
    padding: 5px;
    background-color: #ffffff;
    align-items: center;
  }
  .tarjeta:hover {
    transform: scale(110%);
  }
}
@media (min-width: 1024px) {
  .h2_productos {
    font-size: 3rem;
  }
  .header__contenedor {
    font-size: 2rem;
    justify-content: start;
  }
  .header__logo {
    height: 150px;
  }
  .tarjeta {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 20px;
    padding: 5px;
    background-color: #ffffff;
    align-items: center;
  }
  .tarjeta:hover {
    transform: scale(90%);
  }
  .tarjeta__btn {
    width: 120px;
    height: 50px;
  }
}
.noticias {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: linear-gradient(#19A7CE, #146C94, #f7f5ed);
}
.noticias h2 {
  font-size: 3rem;
  color: #f7f5ed;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}
.noticias__contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.noticias__principal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  border: rgba(5, 59, 110, 0.6862745098) solid 2px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}
.noticias__principal h3 {
  font-size: 1.5rem;
  color: #146C94;
  margin-bottom: 5px;
  margin-top: 15px;
}
.noticias__principal p {
  text-align: justify;
  font-size: 1rem;
  color: #000000;
  padding: 10px;
}
.noticias__secundaria {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 70%;
  text-align: center;
  border: rgba(5, 59, 110, 0.6862745098) solid 1px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}
.noticias__secundaria h3 {
  font-size: 1.2rem;
  color: #146C94;
  margin-bottom: 5px;
  margin-top: 15px;
}
.noticias__secundaria p {
  text-align: justify;
  font-size: 1rem;
  color: #000000;
  padding: 10px;
}

.principal__img {
  border-radius: 4px 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}

.secundaria__img {
  border-radius: 4px 10px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}

/*NOTICIAS.HTML RESPONSIVE 768PX*/
@media (min-width: 768px) {
  .noticias__principal {
    grid-column: 1/3;
    width: 600px;
    margin: 0 auto;
  }
  .noticias__secundaria {
    width: 300px;
    height: 100%;
    margin: 0 auto;
  }
  .noticias__contenedor {
    display: grid;
    grid-template-columns: repeat(2 1fr 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/*NOTICIAS.HTML RESPONSIVE 1024PX*/
@media (min-width: 1024px) {
  .noticias {
    display: grid;
    grid-template-columns: repeat(3 1fr);
  }
  .noticias__contenedor {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .noticias__principal {
    width: 700px;
  }
  .noticias__secundaria {
    width: 450px;
    height: 550px;
  }
}
@media (min-width: 1440px) {
  .noticias__secundaria {
    width: 600px;
    height: 470px;
  }
  .secundaria__img {
    width: 400px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
footer {
  list-style: none;
}

.footer {
  background-color: #000000;
  width: 100%;
}
.footer__row {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  justify-content: center;
}
.footer__links h4 {
  font-size: 2rem;
  color: #F6F1F1;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #19A7CE;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.footer__links ul li a {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: #F6F1F1;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footer__links ul li a :hover {
  color: #ffffff;
  padding-left: 6px;
}

.contenedor_footer {
  max-width: 100%;
  margin: 0 auto;
}

.social-link a {
  display: inline-block;
  min-width: 30px;
  width: 20px;
  background-color: #575757;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-link a:hover {
  background-color: #19A7CE;
}

.descarga_link {
  display: flex;
  cursor: pointer;
}
.descarga_link ul li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.img_google {
  width: 40%;
}

@media (min-width: 768px) {
  .contenedor_footer {
    display: flex;
    width: 100%;
  }
  .footer__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__links {
    display: inline-block;
    height: 100%;
  }
  .footer__links h4 {
    font-size: 1.2rem;
  }
  .social-link {
    display: flex;
    justify-content: center;
  }
  .social-link a {
    display: inline-block;
    min-width: 27px;
    width: 18px;
    background-color: #575757;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 27px;
    border-radius: 60%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
}
/* FOOTER RESPONSIVE 1440PX*/
@media (min-width: 1440px) {
  .footer__links h4 {
    font-size: 2rem;
  }
  .footer__links ul li a {
    font-size: 1.5rem;
  }
  .social-link a {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    line-height: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
