$color-cyan: #146C94;
$color-blanco: #ffffff;
$color-celeste: #19A7CE;
$color-gris:#1f1b1b;
$color-verde: #27576d;
$color-marfil: #F6F1F1;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html{
    background-color:#F6F1F1;
    font-family: rajdhani, Arial, Helvetica, sans-serif;}

