.main-contacto{
    background-color: #27576d}

.cont_formulario{
    background-color: #27576d;
    display: grid;}

.contenedor_formularioh1{
    color: #F6F1F1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;}

.datos{
    background-color: #27576d;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;}

.form {
    background-color: #27576d;
    width: 100%;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
& input{
    width: 90%;
    height: 90%;
    background: none;
    color: #ffffff;
    padding-top: 20px;
    border: none;
    outline: 0px;}

.lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
&:after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #19A7CE;
    transform: translateX(-100%);
    transition:all 0.3s ease;}}}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition:all 0.3s ease;
    color: #ffffff;}

.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb {
    transform: translateY(-150%);
    font-size:1rem;
    color:#19A7CE;}

.form input:focus + .lbl-nombre:after,.form input:valid + .lbl-nombre:after{
    transform: translateX(-0%);}

.img_formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-bottom: 10%;

& figure{
    position: relative;
    width: 90%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;}
& img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;}}

.img_formulario figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;}

.img_formulario figure:hover > .capa{
        opacity: 1;
        visibility: visible;}

.img_formulario figure:hover > .capa h3{
        margin-bottom: 5px;
        font-size: 2rem;}

.img_formulario figure .capa h3{
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;}

.img_formulario figure .capa p{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1;
    width: 100%;
    max-width:220px ;
    margin: auto;
    text-align: justify;}

.boton_form{
    display: flex;}

.cont_formulario{
    background-color: #27576d;
    display: flex;
    justify-content: center;}

.datos-gral{
    background-color: #27576d;
    display: grid;
    width: 100%;}


.boton_formulario{background-color: rgb(63, 62, 62);
    color: #F6F1F1;
    width: 30%;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #19A7CE;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;}/*estilo del boton*/

.map-responsive{
    background-color: #27576d;
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
    width: 100%;

& iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;}}

@media(min-width:768px){

.datos-gral{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;}

.img_formulario{
    height: 100%;}

.boton_formulario{background-color: rgb(63, 62, 62);
    color: #F6F1F1;
    width: 30%;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #19A7CE;
    cursor: pointer;}}

@media(min-width:1024px){
.boton_formulario{
    width: 20%;}}