.sec_mis{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    justify-items: center;
    margin: 0 auto;
    gap: 10px;

    &__img { 
        display: flex;
        max-width: 60%;
        min-width: 50%;
        margin: 0 auto ;}

    &__titulo{
        display: flex;
        background-color: #146C94 ;
        color: #ffffff;
        border: #19A7CE solid 5px;
        border-radius: 50px;
        width: 80px;
        height: 35px;
        font-size: 1.2rem;
        justify-content: center;
        margin: 5px auto;}
    &__texto{
        font-size: 1rem;
        text-align:justify;
        margin: 0 auto;}}

.sec_mis2{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    justify-items: center;
    margin: 0 auto;
    gap: 20px;

    &__titulo{
        display: flex;
        background-color: #146C94 ;
        color: #ffffff;
        border: #19A7CE solid 5px;
        border-radius: 50px;
        width: 150px;
        height: 39px;
        font-size: 1rem;
        justify-content: center;
        margin: 10px auto;}

    &__texto{
        font-size: 1rem;
        text-align:justify;
        margin: 0 auto;}}

.video_index{
    display: flex;
    width: 100%;
    height: 400px;
    margin-bottom: 10px ;}
.sus_flex{
    display: flex; 
    flex-direction: column;
    align-items:  center;
    justify-content: center;}

.suscribir{
    display: grid;
    justify-items: center;
    background-color: #27576d;;/*newsletter*/
    background-size: cover;
    text-align: center;
    padding: 50px 50px;
    width:99% ;
    height: 100%;

    &__h3{color: white;
        font-size: 2rem;}

    &__h4{color: rgb(0, 0, 0);
        font-size: 1.2rem;}}

.email{
    width: 240px;
    height: 40px;
    justify-content: center;
    border-style: solid;
    border: 1px;
    border-color:#1f1b1b;
    margin: 5px auto;}

.boton_susc{background-color: rgb(63, 62, 62);
    color: #F6F1F1;
    width: 120px;
    line-height: 41px;
    padding: 0 10px ;
    border-radius: 5px;
    border-style: solid;
    border-color: #19A7CE;
    cursor: pointer;/*VERIFICAR COLOR*/
    margin-top: 10px;}

.partners{background-color:#ffffff;
        height: 50px;
        display: flex;
        justify-content: center;

    &__titulo{
        background-color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2rem;
        height: 5px;}}

.partners2{background-color:#ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        width: 40%; }}

@media(min-width:768px){
.sec_mis{
    display: grid;  
    grid-template-columns: repeat(2, 1fr);

&__img{ 
    display: flex;
    max-width: 90%;
    padding-top: 60px;
    margin: 0 auto ;}
&__titulo{
    display: grid;
    grid-column: span 1/3;
    width: 150px;
    height: 45px;
    font-size: 1.8rem; }
&__texto{
    display: flex;
    width: 100%;
    font-size: 1rem;
    text-align:justify;
    margin:  20px;}}

.img_index{
display: flex;
width: 100%;
margin: 0 auto ;}

.sec_mis2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 350px;
    justify-items: start;

&__titulo{
    display: flex;
    grid-column: span 1/3;
    height: 50px;
    font-size: 1.3rem;
    margin:0 -270px;
    margin-top: 15px;}

&__texto{
    display: flex;
    text-align: justify;
    font-size: 1rem;}}


.video_index{
    display: flex;
    width: 95%;
    height: auto;}

.sus_flex{
    display: flex; 
    flex-direction: row;
    gap: 5px;}

.boton_susc{
    margin-top: 0px;}

.partners2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#ffffff;
    width: 100%;
    height: 100%;

&__img{
    width: 20%; }}     

.form_buscar{
    width: 350px;
    display: flex; 
    justify-content: end;
    margin-right: 5px;
    margin-top: 15px;}

.boton_buscar{
    width: 70px;
    margin-right: 25px;}

.video_index{
    display: flex;
    width: 100%;
    height: 280px;
    margin-bottom: 10px ;}}

@media(min-width:1024px){
.sec_mis__img{
    padding-top: 10px;
    margin: 0 auto ;}

.sec_mis2__texto{
    padding-top: 40px;}

.video_index{
    height: 340px;}}