.tarjeta {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    flex-wrap: wrap;
    background-color:$color-blanco;
    align-items: center;
&__btn{
    background-color: rgb(63, 62, 62);
    color: $color-marfil;
    width: 100px;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: $color-celeste;
    cursor: pointer;
    margin-bottom: 10px;}
&__img{
    width: 90%;
    height: 70%;}}

.lista_productos{
    background-color: $color-blanco;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}

.h2_productos{
    background-color: $color-blanco;
    color:$color-verde;
    font-size: 1.5rem;
    text-align: center;}
    
@media(min-width:768px){

.lista_productos{
    display: flex;}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 20px;
    padding: 5px;
    background-color:$color-blanco;
    align-items: center;
    &:hover{
        transform: scale(110%)}
}}

@media(min-width:1024px){

.h2_productos{
font-size: 3rem;}

.header__contenedor{
font-size: 2rem;
justify-content: start;}

.header__logo{
height: 150px;}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 20px;
    padding: 5px;
    background-color:$color-blanco;
    align-items: center;
    &:hover{
        transform: scale(90%)}

&__btn{
    width: 120px;
    height: 50px;}
    }}