.header{ display: flex;
    flex-direction: column;

&__banner--index {
    background-image: url("../img/indexhtml.jpg");/*BANNER INDEX*/
    background-position: center;
    background-size: cover;
    object-fit: cover;}

&__banner--noticias{
    background-image: url("../img/20230502024451_[fpdl.in]_camara-seguridad-video-urbano_109643-54.jpg");/*BANNER NOTICIAS*/
    background-position: center;
    background-size: cover;
    object-fit: cover;}

&__banner--producto{
    background-image: url("../img/matrix-2326147_960_720.jpg");/*BANNER PRODUCTO*/
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }
&__banner--nosotros{
    background-image: url("../img/cybersecurity-6250709_960_720.jpg");/*BANNER NOSOTROS*/
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }
&__banner--contacto{
    background-image: url("../img/Diplomado-en-Seguridad-Electronica..jpg");/*BANNER CONTACTO*/
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }

&__contenedor{
    color: #F6F1F1;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;}
&__logo{
    display: flex;
    justify-content: center;}}

    .header__contenedor--index{ 
        color: rgba(250, 235, 215, 0);} /*H1 OCULTO*/

.logo__img{
    display: flex;
    height: 100px;}

.menu{
    display: flex;
    background-color: #146C94;
    justify-content: center;

    ul li{ 
        font-size: 0.7rem;
        color: rgb(63, 62, 62);
        text-transform: uppercase;
        height: 30px;
        display: inline-flex;
        align-items: center;

    a{
        display: flex;
        color: #ffffff;
        text-decoration:solid ;
        justify-content: center;
        margin-left: 5px;
            &:hover{
                background-color: rgba(31, 78, 122, 0.589);
    }}}}


.form_buscar{
    width: 50%;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;}/*buscar*/

.label{display: none;}/*buscar oculto*/

.buscar_producto{
    width: 70%;
    height: 30px;
    border: #146C94 solid 2px;
    border-radius: 5px;}/*nombre en el interior del input*/

.boton_buscar{background-color: rgb(63, 62, 62);
    color: #F6F1F1;
    width: 30%;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #19A7CE;
    cursor: pointer;}/*estilo del boton*/

@media(min-width:768px){
.menu{
    justify-content: center;

& ul li{
    margin: 0 30px; 
    font-size: 1rem;}}

.header__contenedor{
    display: flex;
    justify-content: start;
    color: #F6F1F1;
    font-size: 2rem;
    width: 100%;}

.header__logo{
    display: flex;
    height: 100px;
    justify-content: center;}

.logo__img {
    display: flex;
    height: 200px;}}