.header{ display: flex;
    flex-direction: column;

&__banner--index {
    background-image: url("/img/indexhtml.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;}

&__banner--noticias{
    background-image: url("/img/bannernoticias.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;}

&__banner--producto{
    background-image: url("/img/bannerproducto.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }
&__banner--nosotros{
    background-image: url("/img/bannernosotros.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }
&__banner--contacto{
    background-image: url("/img/bannercontacto.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    }

&__contenedor{
    color: #F6F1F1;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;}
&__logo{
    display: flex;
    justify-content: center;}}

    .header__contenedor--index{ 
        color: rgba(250, 235, 215, 0);} 

.logo__img{
    display: flex;
    height: 100px;}

.menu{
    display: flex;
    background-color: $color-cyan;
    justify-content: center;

    ul li{ 
        font-size: 0.7rem;
        color: rgb(63, 62, 62);
        text-transform: uppercase;
        height: 30px;
        display: inline-flex;
        align-items: center;

    a{
        display: flex;
        color: $color-blanco;
        text-decoration:solid ;
        justify-content: center;
        margin-left: 5px;
            &:hover{
                background-color: rgba(31, 78, 122, 0.589);
                height: 20px;
                color: black;
                border-radius: 6px;
    }}}}


.form_buscar{
    width: 50%;
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 5px;}

.label{display: none;}

.buscar_producto{
    width: 70%;
    height: 30px;
    border: #146C94 solid 2px;
    border-radius: 5px;}

.boton_buscar{background-color: rgb(63, 62, 62);
    color: #F6F1F1;
    width: 30%;
    height: 30px;
    line-height: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: $color-celeste;
    cursor: pointer;}

@media(min-width:768px){
.menu{
    justify-content: center;

& ul li{
    margin: 0 30px; 
    font-size: 1rem;}}

.header__contenedor{
    display: flex;
    justify-content: start;
    color: #F6F1F1;
    font-size: 2rem;
    width: 100%;}

.header__logo{
    display: flex;
    height: 100px;
    justify-content: center;}

.logo__img {
    display: flex;
    height: 200px;}}